<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <th:block th:insert="blocks/header.html :: header" />
</head>

<body>

<th:block th:insert="blocks/navBar.html :: navBar" />

<div class="container border-5">
    <div class="row justify-content-center  p-1">
        <form method="post" th:action="@{/admin/airport}" th:object="${airport}">
            <input  type="hidden" name="id" th:field="${airport.id}"/>
            <input  type="text" name="name" th:field="*{name}"/>
            <input  type="number" step="0.01" min="0" name="name" th:field="*{tax}"/>

            <select name="city" th:field="${airport.city}">
<!--                <option selected="selected" disabled>Select city</option>-->
                <option
                        th:each="city : ${cities}"
                        th:value="${city.id}" th:text="${city.name}"
                >
                </option>
            </select>

<!--            <c:forEach items="${cities}" var="city">-->
<!--                <option value=${city.id}-->
<!--                <c:if test="${airport.city.id == city.id}"> selected="selected"</c:if>-->
<!--                >${city.name}-->
<!--                </option>-->
<!--            </c:forEach>-->
<!--            -->

            <button type="submit">save</button>
        </form>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name airport</th>
            <th scope="col">TAX airport</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tr th:each="airport : ${airports}">

            <td th:text="${airport.id}" />
            <td th:text="${airport.name}" />
            <td th:text="${airport.tax}" />
            <td th:text="${airport.city.name}" />

            <td>
                <a class="btn btn-danger"
                   th:href="@{'/admin/airport/delete?id='+${airport.id}}">Delete</a>
                <a class="btn btn-success"
                   th:href="@{'/admin/airport/edit?id='+${airport.id}}">Edit</a> </td>

        </tr>
    </table>
</div>
</div>
</div>

</body>
</html>