<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <th:block th:insert="blocks/header.html :: header" />
</head>

<body>

<th:block th:insert="blocks/navBar.html :: navBar" />

<div class="container border-5">

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Ticket</th>
                <th scope="col">Passenger</th>
                <th scope="col">Baggage</th>
                <th scope="col">Priority</th>
                <th scope="col">Cost</th>
                <th scope="col">Action</th>
            </tr>
            </thead>


            <tr th:each="ticket : ${tickets}">

                <td th:text="${ticket.flight?.id}+'-'+${ticket.flight?.startAirport?.city?.name}+' ('+${ticket.flight.start}+') - ' +${ticket.flight?.finishAirport?.city?.name}+' ('+${ticket.flight.finish}+')'"  />
                <td>
                    <input type="text" th:value="${ticket.passenger}">

                </td>
                <td>
                    <input type="checkbox" id="baggage">
                    <label for="baggage" th:text="${ticket.flight.costBaggage}" />
                </td>
                <td>
                    <input type="checkbox" id="priority">
                    <label for="priority" th:text="${ticket.flight.costPriority}" />
                </td>
                <td>
                    <label th:text="${ticket.flight.ticket_cost}" />
                </td>



                <td>
                    <a class="btn btn-danger"
                       th:href="@{'/user/order/'+${order.id}+'/deleteticket?id='+${ticket.id}}">Delete</a>
                </td>

            </tr>

        </table>
        <input class="btn btn-success" type="submit" value="Pay">
    </form>
</div>



</body>
</html>