<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <th:block th:insert="blocks/header.html :: header" />
</head>

<body>

<th:block th:insert="blocks/navBar.html :: navBar" />

<div class="container border-5">
    <form method="post" th:action="@{/order}" th:object="${flightsToOrderList}">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Flight</th>
            <th scope="col">Quality</th>
            <th scope="col">Action</th>
        </tr>
        </thead>


        <tr th:each="flightToOrder : ${flightsToOrderList.flightToOrders}">

            <td th:text="${flightToOrder?.flight?.startAirport?.city?.name}+' ('+${flightToOrder?.flight.start}+') - ' +${flightToOrder?.flight?.finishAirport?.city?.name}+' ('+${flightToOrder?.flight.finish}+')'"  />
            <td>
                <input  type="number" th:value="${flightToOrder?.quality}" step="1" min="1"/>
            </td>


            <td>
                <a class="btn btn-danger"
                   th:href="@{'/cart/delete?id='+${flightToOrder?.flight.id}}">Delete</a>
            </td>

        </tr>

    </table>
        <input type="submit">
    </form>
</div>



</body>
</html>