<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <th:block th:insert="blocks/header.html :: header" />
</head>

      <body>

        <th:block th:insert="blocks/navBar.html :: navBar" />

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Start</th>
                <th scope="col">Finish</th>
                <th scope="col">Cost Ticket</th>
                <th scope="col">Booking</th>
            </tr>
            </thead>

            <tr th:each="flight : ${flights}">

                <td th:text="${flight.id}" />
                <td th:text="${flight?.startAirport?.city?.name}+' ('+${flight.start}+')'" />
                <td th:text="${flight?.finishAirport?.city?.name}+' ('+${flight.finish}+')'" />
                <td th:text="${flight.ticket_cost}" />

                <td>
                    <a class="btn btn-success"
                       th:href="@{'/cart/add?id='+${flight.id}}">Add to cart</a>
            </tr>
        </table>

<!--        <th:block th:insert="blocks/scripts.html :: js" />-->
    </body>
</html>