<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

    <th:block th:insert="blocks/header.html :: css" />

    <body>

        <th:block th:insert="blocks/navBar.html :: navBar" />


        <div class="container border-5" >
            <tr th:each="user : ${users}">
                <td>
                    <span th:text="${user.id}"></span> : <span th:text="${user.login}"></span><br>
                </td>
            </tr>
        </div>

    </body>
</html>