<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}"></title>
    <th:block th:insert="blocks/header.html :: header" />
</head>

      <body>

        <th:block th:insert="blocks/navBar.html :: navBar" />


        <div class="container border-5" >
            <tr th:each="user : ${users}">
                <td>
                    <span th:text="${user.id}"></span> : <span th:text="${user.login}"></span><br>
                </td>
            </tr>
        </div>

        <th:block th:insert="blocks/scripts.html :: js" />
    </body>
</html>